# {{ ansible_managed }}
# Do not change file directly, changes will be overwritten.
#
#
# Shorewall6 -- /etc/shorewall6/zones
#
# For information about this file, type "man shorewall6-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages6/shorewall6-zones.html
#
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS

{% for item in shorewall6_group_zones %}
{{ item.name }} {{ item.type }}{% if item.comment is defined %} # {{ item.comment }}{% endif %}

{% endfor %}

{% for item in shorewall6_host_zones %}
{{ item.name }} {{ item.type }}{% if item.comment is defined %} # {{ item.comment }}{% endif %}

{% endfor %}
